<ul>stuff to do
	<li>duplicated invitations (same user attending twice same event)</li>
	<li>username and event name validations</li>
	<li>nice css</li>
</ul>

<h1> all users </h1>

<%= render 'shared/content_table' %>